In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

# Modelling
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor

In [3]:
df = pd.read_csv('data/stud.csv')

In [4]:
df.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

### Prepairing X and Y variables

In [5]:
X = df.drop(columns=['math_score'], axis=1)

In [6]:
y = df['math_score']

In [7]:
X.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 7 columns]

In [8]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64

In [9]:
## Create column transformer with 3 types of transformer
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScalar", numeric_transformer, num_features)
    ]
)

In [13]:
X = preprocessor.fit_transform(X)

In [14]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [15]:
## seperate dataset into train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
X_train.shape

(800, 19)

### Create an evaluate function to give all metrics after model training

In [18]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    R2_score = r2_score(true, predicted)

    return mae, rmse, R2_score

In [29]:
models = {
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K Neighbors Regressor":KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor(),
    "XGBRegressor":XGBRegressor(),
    "CatBoost Regressor":CatBoostRegressor(verbose=False),
    "AdaBoost Regressor":AdaBoostRegressor()

}

model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    ## Make Prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    ## Evaluate Train and Test Dataset
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model performance for training set')
    print("- Root mean squared error: {:.4f}".format(model_train_rmse))
    print("- Mean absolute error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('-------------------------------------')

    print('model performance for test dataset')
    print("- Root mean squared error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))

    r2_list.append(model_test_r2)

    print('='*35)
    print('\n')

Linear Regression
Model performance for training set
- Root mean squared error: 5.3243
- Mean absolute error: 4.2671
- R2 Score: 0.8743
-------------------------------------
model performance for test dataset
- Root mean squared error: 5.3960
- Mean Absolute error: 4.2158
- R2 Score: 0.8803
===================================


Lasso
Model performance for training set
- Root mean squared error: 6.5938
- Mean absolute error: 5.2063
- R2 Score: 0.8071
-------------------------------------
model performance for test dataset
- Root mean squared error: 6.5197
- Mean Absolute error: 5.1579
- R2 Score: 0.8253
===================================


Ridge
Model performance for training set
- Root mean squared error: 5.3233
- Mean absolute error: 4.2650
- R2 Score: 0.8743
-------------------------------------
model performance for test dataset
- Root mean squared error: 5.3904
- Mean Absolute error: 4.2111
- R2 Score: 0.8806
===================================


K Neighbors Regressor
Model performance for training set
- Root mean squared error: 5.7077
- Mean absolute error: 4.5167
- R2 Score: 0.8555
-------------------------------------
model performance for test dataset
- Root mean squared error: 7.2530
- Mean Absolute error: 5.6210
- R2 Score: 0.7838
===================================


Decision Tree
Model performance for training set
- Root mean squared error: 0.2795
- Mean absolute error: 0.0187
- R2 Score: 0.9997
-------------------------------------
model performance for test dataset
- Root mean squared error: 8.2244
- Mean Absolute error: 6.4900
- R2 Score: 0.7220
===================================


Random Forest Regressor
Model performance for training set
- Root mean squared error: 2.2753
- Mean absolute error: 1.8250
- R2 Score: 0.9770
-------------------------------------
model performance for test dataset
- Root mean squared error: 6.0289
- Mean Absolute error: 4.6454
- R2 Score: 0.8506
===================================


XGBRegressor
Model performance for training set
- Root mean squared error: 1.0073
- Mean absolute error: 0.6875
- R2 Score: 0.9955
-------------------------------------
model performance for test dataset
- Root mean squared error: 6.4733
- Mean Absolute error: 5.0577
- R2 Score: 0.8278
===================================


CatBoost Regressor
Model performance for training set
- Root mean squared error: 3.0427
- Mean absolute error: 2.4054
- R2 Score: 0.9589
-------------------------------------
model performance for test dataset
- Root mean squared error: 6.0086
- Mean Absolute error: 4.6125
- R2 Score: 0.8516
===================================


AdaBoost Regressor
Model performance for training set
- Root mean squared error: 5.8176
- Mean absolute error: 4.7836
- R2 Score: 0.8499
-------------------------------------
model performance for test dataset
- Root mean squared error: 6.1320
- Mean Absolute error: 4.7350
- R2 Score: 0.8455
===================================

In [30]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name','R2_Score']).sort_values(by=['R2_Score'],ascending=False)

                Model Name  R2_Score
2                    Ridge  0.880593
0        Linear Regression  0.880345
7       CatBoost Regressor  0.851632
5  Random Forest Regressor  0.850630
8       AdaBoost Regressor  0.845475
6             XGBRegressor  0.827797
1                    Lasso  0.825320
3    K Neighbors Regressor  0.783813
4            Decision Tree  0.722033